.hero {
    padding-inline: clamp(16px, 6vw, 130px);
    height: 50%;

    &__title-wrapper {
        padding-top: clamp(88px, 20vw, 188px);
    }

    &__title {
        font-size: clamp(64px, 15vw, 122px);
    }

    &__title-dot {
        color: $secondary-color;
    }

    &__subtitle {
        font-size: clamp(24px, 4.5vw, 36px);
    }

    &__links-wrapper {
        display: none;
    }

    &__subtitle-underline {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 2px;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $base-color;
        }
    }

    &__button-wrapper {
        margin-top: 65px;
    }

    &__button {
        text-decoration: none;
        color: #000;
        font-size: 24px;
        font-weight: 300;
        position: relative;
        margin-left: 5px;

        &::before {
            content: '';
            position: absolute;
            width: 70px;
            height: 15px;
            background-color: $base-color;
            border-radius: 100px 0;
            left: -10px;
            bottom: -3px;
            z-index: -1;
            opacity: 1;
            transition: all 0.75s ease;
        }

        &:hover::before {
            transform: translateX(-200%);
            opacity: 0;
        }
    }

    &__links-wrapper {
        display: none;
    }

    &__vector-credits {
        position: absolute;
        right: 2vw;
        bottom: 2vh;
        font-size: clamp(10px, 2vw, 12px);
        text-decoration: none;
        color: #000;
    }
}

@media only screen and (min-width: 600px) {
    .hero {
        height: 90vh;
        background-image: url('./../assets/hero.jpg');
        background-size: min(1117px, 75vw);
        background-repeat: no-repeat;
        background-position: right bottom;
        display: flex;
        flex-direction: column;

        &__button-wrapper {
            margin-top: 75px;
        }

        &__links-wrapper {
            height: 4vh;
            padding: 0 10px;
            display: block;
            margin: auto 0 max(15px, 2.5vw) 8px;

            & > * {
                font-size: 23px;
                margin-right: 10px;
            }

            & > a {
                color: #000;
                text-decoration: none;
            }
        }
    }
}
