.header {
    height: 100vh;

    &__upper {
        height: 6vh;
    }

    &__img-wrapper {
        height: calc(50% - 10vh);
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    &__img {
        max-width: 100%;
        position: relative;
        z-index: -1;
    }

    &__links-wrapper {
        height: 4vh;
        padding: 0 10px;
        margin-left: 8px;
        display: block;

        & > * {
            font-size: 23px;
            margin-right: 10px;
        }

        & > a {
            color: #000;
            text-decoration: none;
        }
    }
}

.nav {
    width: 100vw;
    height: 6vh;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;
    position: fixed;
    z-index: 9999;
    background-color: #fff;

    &__img {
        height: 100%;
    }

    &__links {
        display: block;
        position: fixed;
        right: 0;
        top: 6vh;
        height: 100vh;
        width: 30%;
        background-color: #000;
        z-index: -1;
        transform: translateX(100%);
        transition: transform 0.5s ease-out;

        &--open {
            transform: translate(0);
        }
    }

    &__list {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    &__list-item {
        transform: rotate(90deg);
        opacity: 0;

        & > a {
            text-decoration: none;
            color: #fff;
        }
    }
}

.burger {
    display: block;
    cursor: pointer;

    & > div {
        width: 25px;
        height: 2px;
        background-color: #000;
        margin: 5px;
        transition: all 0.4s ease;
    }

    &--open &__line1 {
        transform: rotate(-45deg) translate(-5px, 5px);
    }

    &--open &__line2 {
        opacity: 0;
    }

    &--open &__line3 {
        transform: rotate(45deg) translate(-5px, -5px);
    }
}

.design {
    padding-inline: clamp(16px, 6vw, 130px);
    margin-bottom: 45px;

    &__heading {
        font-size: clamp(34px, 6vw, 56px);
    }

    &__article {
        margin-top: 15px;
        font-size: clamp(14px, 2vw, 18px);
    }

    &__img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__img {
        width: 100%;
        // border: 2px solid #000;

        &:nth-child(1) {
            margin: 10px 0 15px 0;
        }

        &--p {
            outline: 1px solid $base-color;
        }

        &--o {
            outline: 1px solid $secondary-color;
        }
    }
}

.horizontal {
    height: calc(100vh);
    display: flex;
    flex-wrap: nowrap;

    &__sec {
        width: 100vw;
        height: 100%;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 20px;

        & h1 {
            font-size: clamp(52px, 15vw, 144px);
            font-family: 'Roboto Slab';
            font-weight: 300;
            color: $base-color;

            & br {
                display: none;
            }
        }
    }

    &__sec1 {
        &__article {
            font-size: clamp(14px, 2vw, 18px);
        }
    }

    &__gallery-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 70%;
    }

    &__fig {
        margin-bottom: 15px;
    }

    &__caption {
        transform: translateY(-150%);
        transition: all 0.3s ease;
        opacity: 0;
    }

    &__img {
        max-width: 100%;
        position: relative;
        z-index: 2;
    }

    &__img:hover + &__caption {
        transform: translate(0);
        opacity: 1;
    }
}

.footer {
    height: 30px;
    width: 100vw;
    background: linear-gradient(to right, $base-color, $secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;

    &__links {
        & > * {
            color: #fff;
            text-decoration: none;
            font-size: 18px;
            margin-right: 10px;
        }
    }

    &__copyright {
        color: #fff;
        font-size: 10px;
    }
}

@media only screen and (min-width: 600px) {
    .burger {
        display: none;
    }

    .nav {
        &__links {
            width: 50%;
            justify-content: center;
            align-items: center;
            position: relative;
            display: flex;
            flex-direction: row;
            background-color: transparent;
            transform: translate(0);
            height: 100%;
            top: 0;
        }

        &__list {
            flex-direction: row;
        }

        &__list-item {
            transform: rotate(0);
            opacity: 1;

            & > a {
                color: #000;
            }
        }
    }

    .header {
        &__img-wrapper {
            display: none;
        }

        &__links-wrapper {
            display: none;
        }
    }

    .design {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        &:nth-child(odd) {
            flex-direction: row;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;
        }

        &__heading {
            line-height: 60px;
        }

        &__text-wrapper {
            width: 50%;
            margin-bottom: 5%;
        }

        &__img-wrapper {
            width: 40%;
        }
    }
}

@media only screen and(min-width: 1000px) {
    .design {
        height: clamp(400px, 37vw, 658px);
        margin-bottom: 0;

        &__img-wrapper {
            height: 100%;
            display: grid;
            grid-template-columns: 25%, 1fr, 25%;
            grid-template-rows: 36%, 1fr, 36%;
            row-gap: -20px;
        }

        &__img {
            margin: 0 !important;
            transform: scale(1.1) translateZ(0);
            backface-visibility: hidden;
            transition: all 0.4s ease;
            outline-width: 2px;

            &:hover {
                outline-offset: 5px;
                outline-width: 1px;
                box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
                transform: scale(1.15) !important;
            }

            &:nth-child(1):hover + &:nth-child(2) {
                z-index: -1;
            }

            &:nth-child(2):hover + &:nth-child(1) {
                z-index: -1;
            }

            &--odd {
                &:nth-child(1) {
                    grid-column: 2/4;
                    grid-row: 1/3;
                    z-index: 0;
                    position: relative;
                }

                &:nth-child(2) {
                    grid-column: 1/3;
                    grid-row: 2/4;
                    z-index: 0;
                    position: relative;
                }
            }

            &--even {
                &:nth-child(1) {
                    grid-column: 1/3;
                    grid-row: 1/3;
                    z-index: 0;
                    position: relative;
                }

                &:nth-child(2) {
                    grid-column: 2/4;
                    grid-row: 2/4;
                    z-index: 0;
                    position: relative;
                }
            }
        }
    }

    .horizontal {
        &__sec1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            padding-inline: clamp(16px, 6vw, 130px);
            column-gap: 170px;

            & h1 {
                text-align: left;
                line-height: 140px;
                width: 100%;
                grid-column: 1/3;
                grid-row: 1/2;

                & br {
                    display: inherit;
                }
            }

            &__article {
                grid-row: 2/3;
                height: 100%;

                &:nth-child(1) {
                    grid-column: 1/2;
                }

                &:nth-child(2) {
                    grid-column: 2/3;
                }
            }
        }
    }
}
